.modal-header {
  background-color: #5133a5;
  color: #ddd; }

.modal-header button {
  color: #ddd; }

.modal-body {
  background-color: #d1c5e8; }

.card-header {
  background-color: #5133a5;
  color: #ddd; }

.card-header button {
  color: #ddd; }

.card-body {
  background-color: #d1c5e8; }
