$lt-gray: #ddd;
$background-dark: #5133a5;
$background-light: #d1c5e8;



// add a mixin 
.modal-header{
    background-color: $background-dark;
    color: $lt-gray;
}

.modal-header button{
    color: $lt-gray;
}
    .modal-body{
        background-color: $background-light;
    }

.card-header{
    background-color: $background-dark;
    color: $lt-gray;
}
.card-header button{
    color: $lt-gray;
}
.card-body{
    background-color: $background-light;
}